/* Ogólny styl dokumentu */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Styl dla nagłówka głównego */
  h1 {
    color: #2c3e50;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    border-bottom: 3px solid #2980b9;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  /* Styl dla nagłówków drugiego poziomu */
  h2 {
    color: #2c3e50;
    font-family: 'Merriweather', serif;
    background: #ecf0f1;
    border-left: 4px solid #3498db;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  
/* Styl dla nagłówków trzeciego poziomu */
h3 {
  color: #2c3e50; /* Kolor z h2 */
  font-family: 'Merriweather', serif; /* Ten sam font co w h2 */
  font-size: 1.1em; /* Pomniejszony rozmiar w stosunku do h2 */
  background: #ecf0f195; /* Tło z h2 */
  border-left: 2px solid #3498db; /* Granica z h2, ale proporcjonalna */
  padding: 8px 12px; /* Pomniejszony padding z h2 */
  margin-bottom: 10px; /* Pomniejszony margines z h2 */
  border-radius: 4px; /* Zaokrąglenia z h2 */
}

  /* Styl dla paragrafów */
  p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
  }
  
  
  /* Styl dla tabel */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #2980b9;
    color: #ffffff;
  }
  
  /* Styl dla list */
  ol, ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Styl dla linków */
  a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #e74c3c;
    text-decoration: underline;
  }
  
  /* Styl dla obrazów */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styl dla cytatów */
  blockquote {
    border-left: 4px solid #3498db;
    padding-left: 15px;
    color: #555;
    font-style: italic;
    background: #ecf0f1;
    margin-bottom: 20px;
  }
  
  /* Styl dla spisu treści */
  .toc {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .toc a {
    color: #3498db;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    transition: background 0.3s, color 0.3s;
  }
  
  .toc a:hover {
    background: #3498db;
    color: #ffffff;
    text-decoration: none;
  }
  

  .equation-box {
    background-color: rgb(169, 17, 9, 0.01); /* Jasne tło dla wyróżnienia */
    border: 2px solid #ddd;    /* Delikatne obramowanie */
    border-radius: 5px;        /* Zaokrąglone rogi */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtelny cień dla efektu 3D */
    padding: 7px;             /* Wewnętrzny odstęp dla czytelności */
    margin: 15px 0;            /* Zewnętrzny odstęp od innych elementów */
    text-align: center;        /* Wyśrodkowanie wzoru */
    border-left: 2px solid rgb(169, 17, 9);
  }
  
  .geogebra-instruction {
    border-left: 2px solid rgb(255, 140, 0); /* Ciemnopomarańczowy kolor */
    background-color: rgb(255, 140, 0,0.01); 
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.6;
}
